<a href="https://colab.research.google.com/github/yeom6060/220603/blob/main/basic1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("안녕 파이썬!")

안녕 파이썬!

In [2]:
print(5+5)

10

문자가 들어가는 것은 무조건 ""또는 ''이 들어가야 한다.

숫자가 들어가는 것은 숫자형이다. 더 자세히 이야기 하면 정수형과 실수형으로 나뉜다.

In [3]:
print("3개의 정숙값을 입력하싣오.")
Int1 = int(input("첫번째 값을 입력하시오."))
Int2 = int(input("두번째 값을 입력하시오."))
Int3 = int(input("세번째 값을 입력하시오."))
print(Int1, Int2, Int3)
sum = Int1 +Int2 + Int3
print(sum)

3개의 정숙값을 입력하싣오.
첫번째 값을 입력하시오.5
두번째 값을 입력하시오.4
세번째 값을 입력하시오.2
5 4 2
11

In [12]:
total = 0
counter = 1
while counter <= 10:
  grade = int(input("점수를 입력하시오."))
  total = grade + total
  counter = counter + 1
print (total)
aver = total / 10
print(aver)

점수를 입력하시오.10
점수를 입력하시오.20
점수를 입력하시오.30
점수를 입력하시오.40
점수를 입력하시오.50
점수를 입력하시오.60
점수를 입력하시오.70
점수를 입력하시오.80
점수를 입력하시오.90
점수를 입력하시오.100

TypeError: ignored

In [16]:
pay_rate = int(input("시급을 입력하시오. 2022년 6월기준 9160원:"))
hour_work = int(input("일한 시간을 입력하시오.:"))
won_pay = pqy_rate+hour_work
print(son_pay)

시급을 입력하시오. 2022년 6월기준 9160원:9160
일한 시간을 입력하시오.:72

NameError: ignored